@font-face{
    font-family: Roboto;
    src: url(assets/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 18px;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.grid-main {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.logo{
    color: white;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 28px;
}

.sidebar{
    background-color: deepskyblue;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
}

.sidebar-tabs{
    list-style-type: none;
    color: white;
    font-weight: bold;
    padding: 7.5%;
}

.sidebar-tabs li {
    padding-bottom: 15%;
}

.taskbar{
    background-color: white;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 1fr;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.search-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.search-bar{
    background-color: aliceblue;
    color: black;
    min-width: 70%;
    padding: 1rem;
    height: 24px;
    border: none;
    border-radius: 20px;
}

.account-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
    gap: 3%;
}

.greeting-container {
    display: flex;
    align-items: center;
    gap: 3%;
    padding-bottom: 2%;
}

.greeting-img{
    width: 64px;
    height: 64px;
}

.small{
    font-size: 14px;
}

.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

button{
    padding: 0.4rem 1rem;
    width: 5rem;
    color: white;
    background-color: #00bfff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: #3aceff;
    transform: scale(1.05);
}

.projects{
    background-color: dbf1ff;
    display: grid;
    padding: 1rem;
    grid-template-rows: 5% 95%;
    grid-row-start: 1;
    grid-row-end: 3;
}

.projects p{
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;

}

.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    padding: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 13rem;
    padding: 1.75rem;
    background-color: white;
    border-left: 7px solid goldenrod;
    border-radius: 20px;
}

.card-subsection{
    color: grey;
    font-size: 14px;
}

.announcements{
    background-color: aquamarine;
}

.trending{
    background-color:salmon;
}
